<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Site.css" />
    
    <script src="~/js/Site.js"></script>
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <div class="topnav" id="topnav">
            <a asp-controller="" asp-action="">Overview</a>
            <a asp-controller="" asp-action="">Income</a>
            <a asp-controller="Expense" asp-action="Index">Expense</a>
            <a href="javascript:void(0)" class="icon" onclick="hamburgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
