@*

*@
@{
    <div id="chart_div"></div>
}

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Transaction');
            data.addColumn('number', 'Amount');
            data.addRows([
                ['Income', 7500],
                ['Expense', 2500]
            ]);

            var options = { 'title': 'Test', 'width': 400, 'height': 300, 'backgroundColor': '#f6f7f8' };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);


            // Add Trend
        } 
    </script>
}
