@model CashFlow.Presentation.ViewModels.ExpenseViewModel
<h1>ADD</h1>
<form asp-action="Create" method="post">
    <label asp-for="Description"></label><br />
    <input asp-for="Description" />
    <label asp-for="Amount"></label><br />
    <input asp-for="Amount" />
    <button type="submit">Add</button>
</form>