@model List<CashFlow.Core.Entities.Expenditure>
<nav class="actionnav">
    <a asp-action="Create">+</a>
</nav>
<main class="main-content">
    @{
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-data">ID</div>
                <div class="flex-data">Description</div>
                <div class="flex-data">Amount</div>
            </div>

            @foreach (var expenditure in Model)
            {
                <div class="flex-row">
                    <div class="flex-data">@expenditure.Id</div>
                    <div class="flex-data">@expenditure.Description</div>
                    <div class="flex-data">@expenditure.Amount</div>
                </div>
            }

        </div>
    }
</main>